.navbar {
  border-bottom: 1px solid grey;
}

.body-container {
  margin-top: 10px
}

main {
  margin-top: 60px;
}

form {
  width: 350px;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 0px;
}

img {
  width: 100%;
}

#placeImage {
  width: 55px;
  height: 55px;
}

#completedTaskList .content {
  color: grey;
  text-decoration: line-through;
}
