.navbar {
  border-bottom: 1px solid grey;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  z-index: 3;
}

.nav-text {
  color: black;
}

/* Inactive tab */
.flex-column ul > li > a {
  background-color: white;
  color: red;
}
.flex-column ul > li > a:hover {
  background-color: pink;
}

/* Active tab */
.flex-column ul > li.active > a,
.flex-column ul > li.active > a:hover,
.flex-column ul > li.active > a:focus {
  background-color: red;
  color: white;
}

/* Disabled tab */
.flex-column ul > li.disabled > a {
  background-color: lightgray;
  color: darkgray;
}

.flex-column {
  position: fixed;
  color: black;
}

.loader {
  text-align: center;
  padding-top: 80px;
}

.body-container {
  padding-top: 70px
}

.guide {
  background-color: #F0F8FF;
  border: 2px solid grey;
  padding-top: 8px;
  margin: 10px;
  text-align: center;
}

img {
  width: 100%;
}

.image-guideline {
  border: 2px solid grey;
  width: 70%;
  padding: 10px;
  margin: 10px;
}

.AddPlace {
  border: 2px solid grey;
  border-radius: 8px;
  padding: 20px; 
  text-align: center;
}

.CreateUser {
  border: 2px solid grey;
  border-radius: 8px;
  padding: 20px; 
  text-align: center;
}

.checkinList {
  padding-left: 5px;
  border-bottom: 1px dashed #81D4FA;
}

.visiter-checkinList {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.placeImage {
  width: 55px;
  height: 55px;
}

